* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    display: grid;
    background: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
  }

  header{
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}
section {
  margin-right: 10px;
}

section:hover {
  transform: scale(1.2);
}

#app_name{
    font-weight: 700;
    font-size: 20px;
}

#app_name span{
    font-size: 20px;
    font-weight: 800;
    color: cyan;
    margin-left: 10px;
}

  
.date-container{
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 40px;
    margin-right: 40px;
}
.date-container .time{
    font-size:30px;
    font-weight: 500;
    color: white;

}

.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
    font-weight: 100;
}

.date-container .date{
    font-size: 30px;
    color: white;
}

.card {
    /* display */
    display: grid;
    grid-template-rows: 0.05fr 0.5fr / 1fr;
  
    /* colors */
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
  
    /* position */
    grid-gap: 2rem;
    padding: 2rem;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: 2rem;
  
    /* width & height */
    max-width: 100vw;
    min-width: 50vw;
    height: fit-content;
  
    /* border */
    border-radius: 30px;
  }
  
  .searchField {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    gap: 0.5em;
  }
  
  .searchInput {
    max-width: 20vw;
    width: 100%;
  
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 0.3em;
    color: #fff;
    outline: none;
  }
  
  .searchBtn {
    border: none;
    border-radius: 20px;
    padding: 0.2em;
    cursor: pointer;
    outline: none;
  }
  
  .weatherContainer {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: auto;
    gap: 2rem;
    max-height: 0;
    overflow: hidden;
    justify-content: center;
  }
  
  .weatherBasicInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
    padding: 0 1.5rem;
  }
  
  .weatherMoreInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2em;
  }
  
  .weatherMoreInfo_items {
    padding: 1rem;
  }
  
  .weatherMoreInfo_items * {
    margin: 1rem;
  }
  
  .weatherMoreInfo_items span {
    font-weight: bold;
    text-transform: capitalize;
  }
  
  .weeklyForecast {
    display: flex;
    flex-direction: row;
    grid-area: 2 / 1 / 3 / 3;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .weeklyForecastHeader {
    margin-bottom: 1em;
    text-align: center;
  }
  
  .forecastContainer {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid rgba(255, 255, 255, 0.1);
    gap: 1em;
  }
  
   .open {
    max-height: 250rem;
    transition: max-height 3s;
  } 
  
  .dayCard {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  
  .dayCard img {
    min-height: 50px;
    max-width: 50px;
    width: 100%;
  }
  
  @media only screen and (max-width: 767px) {
    body {
      background-size: unset;
    }
  
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 85vw;
    }
  
    .weatherContainer {
      display: flex;
      flex-direction: column;
    }
  
    .forecastContainer {
      flex-direction: column;
    }
  
    .searchInput {
      width: 100%;
    }
  
    .weeklyForecast {
      flex-direction: column;
    }
  }
  
  .Name {
    font-size: 16px;
    color: goldenrod;
    font-style: italic;
    font-weight: 600;
  }